body {
  color: #f4f3ef;
  font-size: 14px;
  font-family: "Montserrat", "Helvetica Neue", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  color: #66615b;
  font-size: 14px;
  background-color: #f4f3ef;
  font-family: 'Muli', Arial, sans-serif;
}
.main-panel > .footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer ul li a {
  text-transform: none;
}

.footer  {
  color: #66615b;
  font-size: 18px;
  white-space: nowrap;
  text-align: right;
}

.footer .heart {
    color: #EB5E28;
}

footer nav ul a:not(.btn) {
    color: #66615b;
    display: block;
    margin-bottom: 3px;
}

.cursor-pointer {
  cursor: pointer;
}

.card {
  border-radius: 6px;
  box-shadow: 0 2px 2px rgb(204 197 185 / 50%);
  background-color: #FFFFFF;
  color: #252422;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;

  .content {
    padding: 15px 15px 10px 15px;
  }

  .numbers {
    font-size: 2em;
    text-align: right;
  }

  .footer {
    padding: 0;
    line-height: 30px;
  }
  .stats {
    color: #a9a9a9;
    font-weight: 300;
    font-size: 14px;
  }
  .icon-big {
    font-size: 3em;
    min-height: 64px;
  }
  .numbers p {
    font-size: 16px;
  }
}
